<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <ul>
    <li>Name: <span th:text="$(job.getName())"></span></li>
    <li>Employer: <span th:text="$(job.getEmployer())"></span></li>
    <li>Location: <span th:text="$(job.getLocation())"></span></li>
    <li>Position: <span th:text="$(job.getPosition())"></span></li>
    <li>Core competency: <span th:text="$(job.getCoreCompetency())"></span></li>
    </ul>

</div>

</body>
</html>